<!DOCTYPE html>
<html lang="ko" manifest="">
<head>
	<title>예배등록</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script  src="../thirdpart/ckeditor/ckeditor.js"></script>
</head>
<body onContextMenu="return false">
	<textarea cols="80" id="contents" name="contents" rows="10"></textarea>

	<script>
		CKEDITOR.replace( 'contents' );
	</script>
</body>
</html>





